@let statistic = statistic$ | async;
<div class="w-full h-full" >
    <div class="p-5 flex justify-between  border-b border-gray-100">
        <h2 class="text-2xl font-bold text-gray-700">Statistiques</h2>
        <span>{{ today() | date}}</span>
    </div>
    <div class="p-5 w-full h-[calc(100%-73px)]">
            <div class="grid grid-cols-4 gap-2">
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-users"></i>
                    <span class="text-3xl">{{statistic?.employees}}</span>
                    <span class="font-bold">Employés</span>
                </div>
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-sitemap"></i>
                    <span class="text-3xl">{{statistic?.departements}}</span>
                    <span class="font-bold">Départements</span>
                </div>
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-briefcase"></i>
                    <span class="text-3xl">{{statistic?.positions}}</span>
                    <span class="font-bold">Positions</span>
                </div>
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-id-card"></i>
                    <span class="text-3xl">{{statistic?.etatCivils}}</span>
                    <span class="font-bold">Etat Civils</span>
                </div>
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-calendar"></i>
                    <span class="text-3xl">{{statistic?.typeConges}}</span>
                    <span class="font-bold">Type De Congés</span>
                </div>
                <div class="flex flex-col gap-2 items-start p-5 border border-gray-300 rounded-md text-gray-700">
                    <i class="pi pi-wallet"></i>
                    <span class="text-3xl">{{statistic?.banques}}</span>
                    <span class="font-bold">Banques</span>
                </div>

            </div>
    </div>
</div>