<div class="grid grid-cols-[250px_1fr] h-screen overflow-hidden">
    <div class="bg-gray-100 border-r border-gray-200   flex flex-col" id="sidebar">
        <div class="h-25 p-5">
            <img class="w-25" src="img/new_seco_logo.png" alt="logo">
        </div>

        <div class="text-gray-700">
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/employees" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-users"></i>
                Employés
            </div>
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/departements" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-sitemap"></i>
                Départements
            </div>
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/positions" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-briefcase"></i>
                Positions
            </div>
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/type-conges" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-calendar"></i>
                Type De Congé
            </div>
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/banques" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-wallet"></i>
                Banques
            </div>
            <div class="flex items-center gap-2.5 cursor-pointer px-5 py-2.5 border-y border-gray-100 hover:border-gray-300" routerLink="/etat-civils" routerLinkActive="bg-gray-200 border-gray-300 font-bold">
                <i class="pi pi-id-card"></i>
                Etat Civils
            </div>
        </div>
    </div>
    <main class="overflow-hidden h-screen min-w-221">
        @if(router.url === "/"){
            <div class="h-full w-full flex flex-col justify-center items-center gap-3">
                <img class="w-75" src="img/welcome.png" alt="welcome-img">
                <p class="text-gray-700 w-110 text-center"> <strong>Secogroupe Manager</strong>, un logiciel conçu sur mesure pour assurer une gestion optimale de vos employés</p>
                <p-button  routerLink="/employees" [raised]="true">Commencer Maintenant</p-button>
                <!-- <a routerLink="/employees" [raised]="true" pButton></a> -->
            </div>
        }@else {
            <router-outlet />
        }
    </main>
</div>

