@let departements = (departements$ | async) || [];
<!-- @let employees = Employee[]; -->
<!-- {{findEmployees(`?departement=${departements[0]._id}`)}} -->
<div class="w-full h-full" >
    <div class="p-5 flex justify-between  border-b border-gray-100">
        <h2 class="text-2xl font-bold text-gray-700">Gestion Des Departements</h2>
        <span>{{ today() | date}}</span>
    </div>

    

    <div class="grid grid-cols-[350px_2fr] h-[calc(100%-72px)]">


        
        <div class=" border-r border-gray-100 h-full">
            <div class="py-3 px-5 border-b border-gray-100 h-[67px] flex flex-col">

                <h2 class="text-md text-gray-700 font-bold">Employés</h2>
                <small class="text-gray-500">Liste des employés appartenant a ce departement</small>
            </div>
            <ol class="p-5 flex flex-col h-full overflow-auto" >
                @for (employee of employees; track $index) {

                    <li class="p-2.5 flex justify-between">
                        <span>{{($index+1)+".- "+employee?.nom+" "+employee.prenom}}</span>
                        <!-- <span>{{employee.salaire | customCurrency}}</span> -->
                    </li>
                    <!-- <li class="p-2.5 flex justify-between">
                        <span>2.- Gouraige Francesse</span>
                        <span>45,000 HTG</span>
                    </li> -->
                }@empty {
                    <li class="text-sm text-gray-400 text-center pt-10">
                        Cliquer sur un département afin d'afficher les employés correspondant
                    </li>
                }
            </ol>
        </div>

        <p-table #dt2 [value]="departements"    [tableStyle]="{ 'min-width': '10rem' }">
            <ng-template #caption>
                <div class="flex">
                    <div class="flex gap-1">
                        <p-button (click)="onAdd()" icon="pi pi-plus" label="Ajouter" />
                        <p-button (click)="refresh()" label="Refresh" icon="pi pi-refresh" variant="outlined" severity="secondary"/>

                    </div>
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-departement>
                <tr style="border: none !important; outline: none !important;" class="border-0 cursor-pointer hover:bg-gray-50 active:bg-gray-100" (click)="setEmployees(departement.employees)">
                    <td class="border-0">{{ departement.id }}</td>
                    <td>{{ departement.name }}</td>
                    
                    <td class="flex gap-1">
                        <p-button icon="pi pi-pencil" (click)="onUpdate(departement)"/>
                        <p-button icon="pi pi-trash" (click)="onDelete($event,departement)" severity="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="flex flex-col items-start justify-center ">
            <span class="text-lg font-semibold">{{headerDialogTitle}}</span> 
            <small>Les champs annotes avec un * sont obligatoire</small>
        </div>
    </ng-template>
    <div class="flex flex-col gap-2">
           
            <div class="flex flex-col gap-1">
                    <label for="nom" class="font-semibold ">Nom *</label>
                    
                    <input pInputText id="nom" [(ngModel)]="departement.name" class="flex-auto" placeholder="Entrer le nom du departement" [fluid]="true" autocomplete="off" />
            </div>
            
    </div>
    
    
    <ng-template #footer>
        <p-button label="Annuler" [outlined]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Valider"  severity="primary" (click)="onValidate()" />
    </ng-template>
</p-dialog>



<p-toast />
<p-confirmdialog />