@let typeConges = (typeConges$ | async) || [];
@let employees = (employees$ | async) || [];

<div class="w-full h-full" >
    <div class="p-5 flex justify-between  border-b border-gray-100">
        <h2 class="text-2xl font-bold text-gray-700">Gestion Des Type De Congés</h2>
        <span>{{today() | date}}</span>
    </div>

    

    <div class="grid grid-cols-[1fr_2fr] h-[calc(100%-72px)]">


        
        <div class=" border-r border-gray-100 h-full">
            <div class="py-3 px-5 border-b border-gray-100 h-[67px] flex flex-col">
                
                <h2 class="text-md text-gray-700 font-bold">Employés</h2>
                <small class="text-gray-500">Liste des employés ayant ce type de congé en commun</small>
            </div>
            <ol class="p-5 flex flex-col h-full overflow-auto" >
                @for (employee of employees; track $index) {

                    <li class="p-2.5 flex justify-between">
                        <span>{{($index+1)+".- "+employee.nom+" "+employee.prenom}}</span>
                        <!-- <span>{{employee.numCompteBancaire}}</span> -->
                    </li>
                    
                }@empty {
                    <li class="text-sm text-gray-400 text-center pt-10">
                        Cliquer sur un type de conge afin d'afficher les employes correspondant
                    </li>
                }
            </ol>
        </div>

        <p-table 
            #dt2 
            [value]="typeConges" 
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5,10,20]" 
            [globalFilterFields]="['name']" 
            [tableStyle]="{ 'min-width': '10rem' }">
            <ng-template #caption>
                <div class="flex">
                    <div class="flex gap-1">
                        <p-button (click)="onAdd()" icon="pi pi-plus" label="Ajouter" />
                        <p-button (click)="refresh()" label="Refresh" icon="pi pi-refresh" variant="outlined" severity="secondary"/>

                    </div>
                    <p-iconfield icontypeConge="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>ID</th>
                    <th pSortableColumn="name">Name</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-typeConge>
                <tr class="cursor-pointer" (click)="findEmployees(`?typeConge=${typeConge._id}`)">
                    <td>{{ typeConge.id }}</td>
                    <td>{{ typeConge.name }}</td>
                    
                    <td class="flex gap-1">
                        <p-button icon="pi pi-pen-to-square" (click)="onUpdate(typeConge)"/>
                        <p-button icon="pi pi-trash" severity="danger" (click)="onDelete($event,typeConge)"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="flex flex-col items-start justify-center ">
            <span class="text-lg font-semibold">{{headerDialogTitle}}</span> 
            <small>Les champs annotes avec un * sont obligatoire</small>
        </div>
    </ng-template>
    <div class="flex flex-col gap-2">
           
            <div class="flex flex-col gap-1">
                    <label for="nom" class="font-semibold ">Nom *</label>
                    
                    <input pInputText id="nom" [(ngModel)]="typeConge.name" class="flex-auto" placeholder="Entrer le type de Conge" [fluid]="true" autocomplete="off" />
            </div>
            
    </div>
    
    
    <ng-template #footer>
        <p-button label="Annuler" [outlined]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Valider"  severity="primary" (click)="onValidate()" />
    </ng-template>
</p-dialog>



<p-toast />
<p-confirmdialog />